@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #D5EB05;
  --secondary-color: #111F22;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: var(--secondary-color);
  background: #fff;
}


