header {
  background: var(--primary-color);
  padding-block: 9rem 12rem;
}

.title {
  font-size: 4rem;
  font-weight: 400;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid;
  margin-top: 9.9rem;
  width: 40%;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1.6rem;
}

input:focus {
  outline: none;
}

span {
  max-width: 40%;
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  text-align: left;
  margin-top: 1rem;
}

.error {
  background: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-msg {
  font-size: 3.5rem;
}

.error-link {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}

.error-link:hover {
  color: var(--tertiary-color);
}

.searching {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  font-size: 1.9rem;
}

/* darkmode */
.dark header {
  background: var(--secondary-color);
  border: none;
}

.dark header input {
  border-color: var(--primary-color);
  color: inherit;
}

.dark header .title {
  color: var(--primary-color-darkmode);
}

.dark .error {
  background: var(--secondary-color);
}

.dark .error-msg,
.error-link {
  color: var(--primary-color-darkmode);
}

.dark .error-link:hover {
  color: var(--tertiary-color);
}

.dark .searching {
  background: var(--secondary-color);
}

/* mobile version */
@media screen and (max-width: 767px) {
  header {
    padding-top: 12rem;
  }

  .title {
    max-width: 70%;
    margin: 0 auto;
    font-size: 2.5rem;
  }

  input {
    width: 60%;
    padding-left: 0.5rem;
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  span {
    max-width: 60%;
    font-size: 1.3rem;
  }

  .error-msg {
    max-width: 70%;
    font-size: 2rem;
  }

  .error-link {
    font-size: 1.6rem;
  }

  .searching {
    font-size: 1.5rem;
  }
}

@media (min-width: 280px) and (max-width: 321px) {
  header {
    width: 100%;
  }
}
