.word-phonetic,
.meanings {
  max-width: 50%;
  border-radius: 11px;
  text-align: left;
  padding: 5rem 4rem;
}

.word-phonetic {
  margin: 7.6rem auto 0;
  background: var(--primary-color);
}

.word {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 3.6rem;
}

.phonetic {
  margin: 0;
  font-size: 1.8rem;
  opacity: 60%;
}

.meanings {
  margin: 5.5rem auto;
  border: 2px solid var(--primary-color);
}